# Bonus: Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")

df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['Date format'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.head()

       station        date  prcp  tobs Date format
0  USC00519397  2010-01-01  0.08    65  2010-01-01
1  USC00519397  2010-01-02  0.00    63  2010-01-02
2  USC00519397  2010-01-03  0.00    74  2010-01-03
3  USC00519397  2010-01-04  0.00    76  2010-01-04
4  USC00519397  2010-01-06   NaN    73  2010-01-06

In [ ]:
# Set the date column as the DataFrame index
df.set_index(df['Date format'])
#Sort the dataframe by date
df = df.sort_index()

In [ ]:
# Drop the date column
del df['date']
df.head()

In [ ]:
df1 = df.
df1

### Compare June and December data across all years

In [ ]:
from scipy import stats

#### Filter data for desired months

In [ ]:
df12 = df[(df['Date format'].dt.month == 12)] 
dfDec = df12.dropna(how='any')
dfDec

In [ ]:
df06 = df[(df['Date format'].dt.month == 0o6)] 
dfJun = df06.dropna(how='any')
dfJun

In [ ]:
# Identify the average temperature for June
averageJun = dfJun.tobs.mean()
averageJun

In [ ]:
# Identify the average temperature for December
averageDec = dfDec.tobs.mean()
averageDec

In [ ]:
groupjun = dfJun.tobs
groupdec = dfDec.tobs
print(groupjun, groupdec)

In [ ]:
# Create collections of temperature data
# Run paired t-test
stats.ttest_ind(a=groupjun, b=groupdec, equal_var=True)

### Analysis

The alpha level of a hypothesis test is the threshold we use to determine whether or not our p-value is significant enough to accept a null hypothesis. It is often set at 0.05 but it is sometimes set as low as 0.01 or as high as 0.10. Since this p-value 9.84 is higher than the alpha levels, we can accept the null hypothesis as true. A null hypothesis refers to a hypothesis that states that there is no relationship between two population parameters.

Thus, we donâ€™t have sufficient evidence to say that the true mean temperature is not much different in June and December.